<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn-xZJuXsKPJCo-koijfkOVzf2BVCO3Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>970154223697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.ecoinference.eiapp</string>
	<key>PROJECT_ID</key>
	<string>eiapp-e16aa</string>
	<key>STORAGE_BUCKET</key>
	<string>eiapp-e16aa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:970154223697:ios:99baf534df921a9de3f070</string>
</dict>
</plist>
